<h1>Héroes <small>Marvel y DC</small></h1>
<hr />

<div class="card-columns">
    <!-- Componente de la tarjeta del heroe 
    $event, es para recibir a fuerza el evento que está emitiendo desde el heroeSeleccionado,
    desde el método verHeroe() ==> this.heroeSeleccionado.emit(this.idx); 
    Es decir el $event tomará el valor que tenga this.idx-->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [itemHeroe]="item" [idx]="i" *ngFor="let item of heroes; let i = index"></app-heroe-tarjeta>
</div>